/* navigationsbar */
ul {
    list-style: none;
}
.navigationsbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: #d1a473;
    background: #073419;

}
.nav-links{
    display: flex;
    align-items: center;

}
.nav-links {
    margin: 0 30px;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url(taske.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content {
margin-bottom: 150px;
color: #d1a473;
text-align: center;
}
.header-content h1{
    font-size: 8vmin;
}

.header-content h2{
    font-size: 3vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}
.ctn{
    padding: 8px 15px;
    background: #d1a473;
    color: #073419;

}
.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
}
/* mobil */
